Groups based on career length

 - Group **A**: less then 1 year
 - Group **B**: 1 - 2 years
 - Group **C**: 3 - 4 years 
 - Group **D**: 5 - 10 years 
 - Group **E**:  more then 10 years

Groups based on working hours

 - Group **1**: 1 - 2 hours 
 - Group **2**: 3 - 4 hours
 - Group **3**: 5 - 6 hours
 - Group **4**: 7 - 8 hours
 - Group **5**: more then 8 hours

Check for grouping this [link](https://realpython.com/pandas-groupby/)

In [3]:
from scipy import stats
import numpy as np
import pandas as pd

In [62]:
data = pd.read_csv("task-3-data.csv")
N = len(data.index)
groups = data.groupby(["carrer_length", "working_hours"]).size()
groups_df = groups.unstack(level=1, fill_value=0)
print(groups_df)

working_hours  1 - 2 hours  3 - 4 hours  5 - 6 hours  7 - 8 hours  > 8 hours
carrer_length
1 - 2 years              2            2            1            2          1
3 - 4 years              6            9           12            6          7
5 - 10 years             3            4            8           14          5
< 1 year                 1            1            4            3          0
> 10 years               0            1            6           11         13

In [63]:
df = groups.unstack(level=1, fill_value=0)
df_sum = df
df_sum  ["sum_of_rows"] = df.sum(axis=1).to_list()
df_sum = df_sum.append(df.sum(axis=0).rename("sum_of_columns"))
df_sum

working_hours,1 - 2 hours,3 - 4 hours,5 - 6 hours,7 - 8 hours,> 8 hours,sum_of_rows
carrer_length,,,,,,
1 - 2 years,2,2,1,2,1,8
3 - 4 years,6,9,12,6,7,40
5 - 10 years,3,4,8,14,5,34
< 1 year,1,1,4,3,0,9
> 10 years,0,1,6,11,13,31
sum_of_columns,12,17,31,36,26,122

In [78]:
r = []
for row in df_sum["sum_of_rows"].drop("sum_of_columns"):
    c = []
    for col in df_sum.loc["sum_of_columns"].drop("sum_of_rows"):
        # print(row, col, N)
        c.append((row * col) / N)
    r.append(c)
df_theor = pd.DataFrame(r, index=df.index).rename(columns={i: name for i in range(0, 5) for name in df.columns[[i]]})
df_theor

               1 - 2 hours  3 - 4 hours  5 - 6 hours  7 - 8 hours  > 8 hours
carrer_length
1 - 2 years       0.786885     1.114754     2.032787     2.360656   1.704918
3 - 4 years       3.934426     5.573770    10.163934    11.803279   8.524590
5 - 10 years      3.344262     4.737705     8.639344    10.032787   7.245902
< 1 year          0.885246     1.254098     2.286885     2.655738   1.918033
> 10 years        3.049180     4.319672     7.877049     9.147541   6.606557

In [93]:
df_reduced = df.copy()

df_reduced = df_reduced.drop(['1 - 2 years', "< 1 year"])
df_reduced =df_reduced.append(df.loc[['1 - 2 years', "< 1 year"]].sum().rename("< 2 years"))
df_reduced_copy = df_reduced.copy()
df_reduced = df_reduced.append(df_reduced.sum(axis=0).rename("sum_of_columns"))
df_reduced

working_hours,1 - 2 hours,3 - 4 hours,5 - 6 hours,7 - 8 hours,> 8 hours,sum_of_rows
carrer_length,,,,,,
3 - 4 years,6,9,12,6,7,40
5 - 10 years,3,4,8,14,5,34
> 10 years,0,1,6,11,13,31
< 2 years,3,3,5,5,1,17
sum_of_columns,12,17,31,36,26,122

In [98]:
r = []
for row in df_reduced["sum_of_rows"].drop("sum_of_columns"):
    c = []
    for col in df_reduced.loc["sum_of_columns"].drop("sum_of_rows"):
        c.append((row * col) / N)
    r.append(c)
df_theor_reduced = pd.DataFrame(r, index=df_reduced_copy.index).rename(columns={i: name for i in range(0, 5) for name in df.columns[[i]]})
df_theor_reduced

               1 - 2 hours  3 - 4 hours  5 - 6 hours  7 - 8 hours  > 8 hours
carrer_length
3 - 4 years       3.934426     5.573770    10.163934    11.803279   8.524590
5 - 10 years      3.344262     4.737705     8.639344    10.032787   7.245902
> 10 years        3.049180     4.319672     7.877049     9.147541   6.606557
< 2 years         1.672131     2.368852     4.319672     5.016393   3.622951

In [97]:
df_theor_reduced["1 - 2 hours"] + df_theor_reduced["3 - 4 hours"]

4.040983606557377