Groups based on career length

 - Group **A**: less then 1 year
 - Group **B**: 1 - 2 years
 - Group **C**: 3 - 4 years 
 - Group **D**: 5 - 10 years 
 - Group **E**:  more then 10 years

Groups based on working hours

 - Group **1**: 1 - 2 hours 
 - Group **2**: 3 - 4 hours
 - Group **3**: 5 - 6 hours
 - Group **4**: 7 - 8 hours
 - Group **5**: more then 8 hours

Check for grouping this [link](https://realpython.com/pandas-groupby/)

In [3]:
from scipy import stats
import numpy as np
import pandas as pd

In [38]:
data = pd.read_csv("task-3-data.csv")
N = len(df.index)
groups = data.groupby(["carrer_length", "working_hours"]).size()
groups_df = groups.unstack(level=1, fill_value=0)
print(groups_df)

working_hours  1 - 2 hours  3 - 4 hours  5 - 6 hours  7 - 8 hours  > 8 hours
carrer_length
1 - 2 years              2            2            1            2          1
3 - 4 years              6            9           12            6          7
5 - 10 years             3            4            8           14          5
< 1 year                 1            1            4            3          0
> 10 years               0            1            6           11         13

In [39]:
df = groups.unstack(level=1, fill_value=0)
df_sum = df
df_sum  ["sum_of_rows"] = df.sum(axis=1).to_list()
df_sum = df_sum.append(df.sum(axis=0).rename("sum_of_columns"))
df_sum

working_hours,1 - 2 hours,3 - 4 hours,5 - 6 hours,7 - 8 hours,> 8 hours,sum_of_rows
carrer_length,,,,,,
1 - 2 years,2,2,1,2,1,8
3 - 4 years,6,9,12,6,7,40
5 - 10 years,3,4,8,14,5,34
< 1 year,1,1,4,3,0,9
> 10 years,0,1,6,11,13,31
sum_of_columns,12,17,31,36,26,122

In [56]:
r = []
for row in df_sum["sum_of_rows"].drop("sum_of_columns"):
    c = []
    for col in df_sum.loc["sum_of_columns"].drop("sum_of_rows"):
        c.append(row * col / N)
    r.append(c)
print(r)

[[19.2, 27.2, 49.6, 57.6, 41.6], [96.0, 136.0, 248.0, 288.0, 208.0], [81.6, 115.6, 210.8, 244.8, 176.8], [21.6, 30.6, 55.8, 64.8, 46.8], [74.4, 105.4, 192.2, 223.2, 161.2]]

In [58]:
df_theor = pd.DataFrame(r, index=df.index)
df_theor

                  0      1      2      3      4
carrer_length
1 - 2 years    19.2   27.2   49.6   57.6   41.6
3 - 4 years    96.0  136.0  248.0  288.0  208.0
5 - 10 years   81.6  115.6  210.8  244.8  176.8
< 1 year       21.6   30.6   55.8   64.8   46.8
> 10 years     74.4  105.4  192.2  223.2  161.2