Groups based on career length

 - Group **A**: less then 1 year
 - Group **B**: 1 - 2 years
 - Group **C**: 3 - 4 years 
 - Group **D**: 5 - 10 years 
 - Group **E**:  more then 10 years

Groups based on working hours

 - Group **1**: 1 - 2 hours 
 - Group **2**: 3 - 4 hours
 - Group **3**: 5 - 6 hours
 - Group **4**: 7 - 8 hours
 - Group **5**: more then 8 hours

Check for grouping this [link](https://realpython.com/pandas-groupby/)

In [22]:
import pandas as pd

In [23]:
data = pd.read_csv("task-3-data-new.csv")
N = len(data.index)
groups = data.groupby(["carrer_length", "working_hours"]).size()
groups_df = groups.unstack(level=1, fill_value=0)

In [24]:
df = groups.unstack(level=1, fill_value=0)
df_sum = df
df_sum  ["sum_of_rows"] = df.sum(axis=1).to_list()
df_sum = df_sum.append(df.sum(axis=0).rename("sum_of_columns"))
df_sum

working_hours,1 - 2 hours,3 - 4 hours,5 - 6 hours,7 - 8 hours,> 8 hours,sum_of_rows
carrer_length,,,,,,
1 - 2 years,2,2,1,2,1,8
3 - 4 years,8,10,13,7,9,47
5 - 10 years,3,9,15,17,7,51
< 1 year,1,1,4,3,0,9
> 10 years,0,1,6,11,13,31
sum_of_columns,14,23,39,40,30,146

In [25]:
r = []
for row in df_sum["sum_of_rows"].drop("sum_of_columns"):
    c = []
    for col in df_sum.loc["sum_of_columns"].drop("sum_of_rows"):
        # print(row, col, N)
        c.append((row * col) / N)
    r.append(c)
df_theor = pd.DataFrame(r, index=df.index).rename(columns={i: name for i in range(0, 5) for name in df.columns[[i]]})
df_theor

               1 - 2 hours  3 - 4 hours  5 - 6 hours  7 - 8 hours  > 8 hours
carrer_length
1 - 2 years       0.767123     1.260274     2.136986     2.191781   1.643836
3 - 4 years       4.506849     7.404110    12.554795    12.876712   9.657534
5 - 10 years      4.890411     8.034247    13.623288    13.972603  10.479452
< 1 year          0.863014     1.417808     2.404110     2.465753   1.849315
> 10 years        2.972603     4.883562     8.280822     8.493151   6.369863

In [26]:
df_reduced = df.copy()

df_reduced = df_reduced.drop(['1 - 2 years', "< 1 year"])
df_reduced = df_reduced.append(df.loc[['1 - 2 years', "< 1 year"]].sum().rename("< 2 years"))
df_reduced_copy = df_reduced.copy()
df_reduced = df_reduced.append(df_reduced.sum(axis=0).rename("sum_of_columns"))
df_reduced

working_hours,1 - 2 hours,3 - 4 hours,5 - 6 hours,7 - 8 hours,> 8 hours,sum_of_rows
carrer_length,,,,,,
3 - 4 years,8,10,13,7,9,47
5 - 10 years,3,9,15,17,7,51
> 10 years,0,1,6,11,13,31
< 2 years,3,3,5,5,1,17
sum_of_columns,14,23,39,40,30,146

In [27]:
r = []
for row in df_reduced["sum_of_rows"].drop("sum_of_columns"):
    c = []
    for col in df_reduced.loc["sum_of_columns"].drop("sum_of_rows"):
        c.append((row * col) / N)
    r.append(c)
df_theor_reduced = pd.DataFrame(r, index=df_reduced_copy.index).rename(columns={i: name for i in range(0, 5) for name in df.columns[[i]]})
df_theor_reduced

               1 - 2 hours  3 - 4 hours  5 - 6 hours  7 - 8 hours  > 8 hours
carrer_length
3 - 4 years       4.506849     7.404110    12.554795    12.876712   9.657534
5 - 10 years      4.890411     8.034247    13.623288    13.972603  10.479452
> 10 years        2.972603     4.883562     8.280822     8.493151   6.369863
< 2 years         1.630137     2.678082     4.541096     4.657534   3.493151

In [28]:
df_theor_reduced_2 = df_theor_reduced
df_theor_reduced_2["1 - 4 hours"] = df_theor_reduced["1 - 2 hours"] + df_theor_reduced["3 - 4 hours"]
df_theor_reduced_2 = df_theor_reduced_2.drop(["1 - 2 hours", "3 - 4 hours"], axis=1)
df_theor_reduced_2.append((df_theor_reduced_2.loc["< 2 years"] + df_theor_reduced_2.loc["3 - 4 years"]).rename("< 4 years"))
df_theor_reduced_2 = df_theor_reduced_2.drop(["< 2 years", "3 - 4 years"], axis=0)
df_theor_reduced_2

               5 - 6 hours  7 - 8 hours  > 8 hours  1 - 4 hours
carrer_length
5 - 10 years     13.623288    13.972603  10.479452    12.924658
> 10 years        8.280822     8.493151   6.369863     7.856164