In [16]:
import pingouin as pg
import pandas as pd

In [19]:
data = pd.read_csv("task-2-data.csv", sep=",")
data

    factor1 factor2  minutes
0      rano   ticho        6
1      rano   ticho        8
2      rano   ticho       11
3      rano   hudba        7
4      rano   hudba        8
5      rano   hudba       12
6      rano   hudba       10
7      rano    hluk        8
8      rano    hluk        7
9      rano    hluk       20
10     rano    krik       13
11     rano    krik       21
12     rano    krik       11
13  poledne   ticho        8
14  poledne   ticho       13
15  poledne   ticho        7
16  poledne   hudba        5
17  poledne   hudba       11
18  poledne   hudba        7
19  poledne    hluk       10
20  poledne    hluk       17
21  poledne    hluk       11
22  poledne    hluk       13
23  poledne    krik       14
24  poledne    krik       11
25    vecer   ticho        7
26    vecer   ticho        8
27    vecer   ticho        6
28    vecer   hudba        6
29    vecer   hudba        8
30    vecer   hudba       16
31    vecer   hudba       15
32    vecer    hluk       12
33    vecer    hluk       17
34    vecer    hluk       10
35    vecer    krik       13
36    vecer    krik       17
37    vecer    krik       15
38    vecer    krik       22
39    vecer    krik       18

In [20]:
data.anova(dv="minutes", between=["factor1", "factor2"]).round(3)

              Source       SS    DF      MS      F  p-unc    np2
0            factor1   16.562   2.0   8.281  0.566  0.574  0.039
1            factor2  290.452   3.0  96.817  6.621  0.002  0.415
2  factor1 * factor2   47.305   6.0   7.884  0.539  0.774  0.104
3           Residual  409.417  28.0  14.622    NaN    NaN    NaN