Groups based on career length

 - Group **A**: less then 1 year
 - Group **B**: 1 - 2 years
 - Group **C**: 3 - 4 years 
 - Group **D**: 5 - 10 years 
 - Group **E**:  more then 10 years

Groups based on working hours

 - Group **1**: 1 - 2 hours 
 - Group **2**: 3 - 4 hours
 - Group **3**: 5 - 6 hours
 - Group **4**: 7 - 8 hours
 - Group **5**: more then 8 hours

Check for grouping this [link](https://realpython.com/pandas-groupby/)

In [2]:
from scipy import stats
import numpy as np
import pandas as pd

In [87]:
data = pd.read_csv("task-3-data.csv")
groups = data.groupby(["carrer_length", "working_hours"]).size()
groups_df = groups.unstack(level=1, fill_value=0)
print(groups_df)

working_hours  1 - 2 hours  3 - 4 hours  5 - 6 hours  7 - 8 hours  > 8 hours
carrer_length
1 - 2 years              2            2            1            2          1
3 - 4 years              6            9           12            6          7
5 - 10 years             3            4            8           14          5
< 1 year                 1            1            4            3          0
> 10 years               0            1            6           11         13

In [109]:
groups_df = groups.unstack(level=1, fill_value=0)
groups_df_with_sum = groups_df
groups_df_with_sum["sum_of_rows"] = groups_df.sum(axis=1).to_list()
groups_df_with_sum = groups_df_with_sum.append(groups_df.sum(axis=0).rename("sum_of_columns"))
groups_df_with_sum

working_hours,1 - 2 hours,3 - 4 hours,5 - 6 hours,7 - 8 hours,> 8 hours,sum_of_rows
carrer_length,,,,,,
1 - 2 years,2,2,1,2,1,8
3 - 4 years,6,9,12,6,7,40
5 - 10 years,3,4,8,14,5,34
< 1 year,1,1,4,3,0,9
> 10 years,0,1,6,11,13,31
sum_of_columns,12,17,31,36,26,122

Index(['1 - 2 years', '3 - 4 years', '5 - 10 years', '< 1 year', '> 10 years',
       'sum_of_columns'],
      dtype='object', name='carrer_length')
Index(['1 - 2 years', '3 - 4 years', '5 - 10 years', '< 1 year', '> 10 years',
       'sum_of_columns'],
      dtype='object', name='carrer_length')
Index(['1 - 2 years', '3 - 4 years', '5 - 10 years', '< 1 year', '> 10 years',
       'sum_of_columns'],
      dtype='object', name='carrer_length')
Index(['1 - 2 years', '3 - 4 years', '5 - 10 years', '< 1 year', '> 10 years',
       'sum_of_columns'],
      dtype='object', name='carrer_length')
Index(['1 - 2 years', '3 - 4 years', '5 - 10 years', '< 1 year', '> 10 years',
       'sum_of_columns'],
      dtype='object', name='carrer_length')
Index(['1 - 2 years', '3 - 4 years', '5 - 10 years', '< 1 year', '> 10 years',
       'sum_of_columns'],
      dtype='object', name='carrer_length')

working_hours
1 - 2 hours    None
3 - 4 hours    None
5 - 6 hours    None
7 - 8 hours    None
> 8 hours      None
sum_of_rows    None
dtype: object