In [2]:
import pingouin as pg
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("task-2-data.csv", sep=",")
data["minutes"] = pd.to_numeric(data["minutes"])
data

    factor1 factor2  minutes
0      rano   ticho        6
1      rano   ticho        8
2      rano   ticho       11
3      rano   hudba        7
4      rano   hudba        8
5      rano   hudba       12
6      rano   hudba       10
7      rano    hluk        8
8      rano    hluk        7
9      rano    hluk       20
10     rano    krik       13
11     rano    krik       21
12     rano    krik       11
13  poledne   ticho        8
14  poledne   ticho       13
15  poledne   ticho        7
16  poledne   hudba        5
17  poledne   hudba       11
18  poledne   hudba        7
19  poledne    hluk       10
20  poledne    hluk       17
21  poledne    hluk       11
22  poledne    hluk       13
23  poledne    krik       14
24  poledne    krik       11
25    vecer   ticho        7
26    vecer   ticho        8
27    vecer   ticho        6
28    vecer   hudba        6
29    vecer   hudba        8
30    vecer   hudba       16
31    vecer   hudba       15
32    vecer    hluk       12
33    vecer    hluk       17
34    vecer    hluk       10
35    vecer    krik       13
36    vecer    krik       17
37    vecer    krik       15
38    vecer    krik       22
39    vecer    krik       18

In [4]:
total_number = data.groupby(["factor1", "factor2"]).size().sum()
sum_ = data.groupby(["factor1", "factor2"]).sum().unstack()
# total_number = sum_.size
sum_total = sum_.copy()
sum_total["sum_of_rows"] = sum_.sum(axis=1)
sum_total = sum_total.append(sum_.sum(axis=0).rename("sum_of_columns"))
Cx = np.square(sum_.values.sum()) / total_number
print(f"Total number of numbers: {total_number}")
print(f"Correction term Cx: {Cx}")
sum_

Total number of numbers: 40
Correction term Cx: 5267.025

        minutes
factor2    hluk hudba krik ticho
factor1
poledne      51    23   25    28
rano         35    37   45    25
vecer        39    45   85    21

In [7]:
total_sum_squares = np.square(data["minutes"].values).sum() - Cx
total_sum_squares

781.9750000000004

In [28]:
data_new = pd.read_csv("task-2-data-table.csv", sep=",")
data_new = data_new.set_index('index')
data_new.dropna(subset=["ticho"], inplace=True)

         ticho  hudba  hluk  krik
index
rano       6.0    7.0   8.0  13.0
rano       8.0    8.0   7.0  21.0
rano      11.0   12.0  20.0  11.0
poledne    8.0    5.0  10.0  14.0
poledne   13.0   11.0  17.0  11.0
vecer      7.0    6.0  12.0  13.0
vecer      8.0    8.0  17.0  17.0
vecer      6.0   16.0  10.0  15.0

In [23]:
data_new["ticho"].

array(['6    ', '8    ', '11   ', '     ', '8    ', '13   ', '7    ',
       '     ', '  7  ', '  8  ', '  6  ', '     ', '     '], dtype=object)

In [6]:
result = data.anova(ss_type=2, dv="minutes", between=["factor1", "factor2"], detailed=True).round(3)
alpha = 0.05
result

              Source       SS    DF      MS      F  p-unc    np2
0            factor1   16.562   2.0   8.281  0.566  0.574  0.039
1            factor2  290.452   3.0  96.817  6.621  0.002  0.415
2  factor1 * factor2   47.305   6.0   7.884  0.539  0.774  0.104
3           Residual  409.417  28.0  14.622    NaN    NaN    NaN