Groups based on career length

 - Group **A**: less then 1 year
 - Group **B**: 1 - 2 years
 - Group **C**: 3 - 4 years 
 - Group **D**: 5 - 10 years 
 - Group **E**:  more then 10 years

Groups based on working hours

 - Group **1**: 1 - 2 hours 
 - Group **2**: 3 - 4 hours
 - Group **3**: 5 - 6 hours
 - Group **4**: 7 - 8 hours
 - Group **5**: more then 8 hours

Check for grouping this [link](https://realpython.com/pandas-groupby/)

In [8]:
from scipy import stats
import numpy as np
import pandas as pd

In [29]:
data = pd.read_csv("task-3-data.csv")
data
groups = data.groupby(["carrer_length", "working_hours"]).agg({
    "working_hours": "count",
})
groups

                             working_hours
carrer_length working_hours
A             1                          1
              2                          1
              3                          4
              4                          3
B             1                          2
              2                          2
              3                          1
              4                          2
              5                          1
C             1                          6
              2                          8
              3                         11
              4                          6
              5                          6
D             1                          2
              2                          4
              3                          7
              4                         14
              5                          5
E             2                          1
              3                          6
              4                         11
              5                         13